@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Merriweather', sans-serif;
}
a {text-decoration: none;}

.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nav Bar  */
#meni {
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: black;
}
.meni {
    background-color: black;
    left: 0;
    top: 0;
    padding: 1rem 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meni .brand a {
    font-family: 'Flash Back - Demo', sans-serif;
    font-size: 3rem;
    color: white;
}
.meni .meni-lista {
    display: flex;
    align-items: center;
    justify-content: center;
}
.meni .meni-lista .hamburger {
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    transition: .3s ease transform;
    cursor: pointer;
}
.meni .meni-lista .hamburger.active {
    transform: rotate(360deg);
}
.meni .meni-lista .hamburger.active .bar:before {
    top: 0;
    transform: rotate(45deg);
}
.meni .meni-lista .hamburger.active .bar:after {
    top: 0;
    transform: rotate(-45deg);
}
.meni .meni-lista .hamburger.active .bar {
    background-color: transparent;
}
.meni .meni-lista .hamburger .bar {
    height: 2px;
    width: 30px;
    background-color: white;
    position: relative;
    display: flex;
}
.meni .meni-lista .hamburger .bar::before,
.meni .meni-lista .hamburger .bar::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: .3s ease all;
}
.meni .meni-lista .hamburger .bar::before {
    top: 8px;
}
.meni .meni-lista .hamburger .bar::after {
    bottom: 8px;
}
.meni .meni-lista ul {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(46, 45, 45);
    padding: 5rem 0;
    transform: translateY(-100%);
    transition: .3s ease transform;
    text-align: center;
    z-index: -1;
}
.meni .meni-lista ul li {
    list-style: none;
    display: block;
    position: relative;
}
.meni .meni-lista ul li:hover:after {
    transform: translateX(-50%) scale(1);
}
.meni .meni-lista ul li:after {
    content: '';
    position: absolute;
    width: 5rem;
    height: .2rem;
    background-color: white;
    left: 50%;
    transform: translateX(-50%) scale(0);
    bottom: 0;
    transition: .3s ease transform;
}
.meni .meni-lista ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    display: block;
    letter-spacing: .15rem;
    padding: 2rem 3rem;
}
.meni .meni-lista.open ul {
    transform: translateY(90px);
}
/* End Nav Bar */


/* Hero sekcija*/
.pocetna {
    min-height: 80vh;
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    background-color: black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.pocetna .pocetna-info {
    width: 100%;
    text-align: center;
}
.pocetna .pocetna-info .pocetna-info-heading {
    font-size: 5rem;
    font-weight: 500;
    color: whitesmoke;
}

/*Kraj hero*/

/* O nama  */
.about {
	width: 100%;
	min-height: 50vh;
	padding: 10rem 5rem;
    flex-direction: column;
    flex-wrap: wrap;
}
.about .about-info {
	text-align: center;
}
.about .about-info .about-info-heading {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	color: black;
}
.about .about-info .about-info-desc {
	font-size: 1.3rem;
	line-height: 2rem;
	margin-top: 10px;
}
.about .about-info .about-info-button {
	padding: 1.6rem 2.6rem;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.548);
	color: whitesmoke;
	text-decoration: none;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 20px;
	margin-bottom: 20px;
}
.about .about-img {
	margin-top: 50px;
	display: block;
}
.about .about-img .about-img-wrapper {
	margin-top: 50px;
	height: auto;
	max-width: 400px;
	position: relative;
	display: inline-block;
}
.about .about-img .about-img-wrapper img {
	height: 100%;
	width: 100%;
}
.about .about-img .about-img-wrapper::after {
	position: absolute;
	content: '';
	right: -5rem;
	top: 50%;
	transform: translateY(-50%);
	width: 70%;
	height: 120%;
	background-color: rgba(34, 33, 33, 0.158);
	z-index: -1;
}
/* O nama kraj  */

/* Projekti section  */
.projekti {
	flex-direction: column;
	min-height: 60vh;
	padding: 10rem 5rem;
}
.projekti .projekti-header {
	width: 100%;
	text-align: center;
}
.projekti .projekti-header .projekti-header-heading {
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: black;
}
.projekti .projekti-header .projekti-header-desc {
	font-size: 1.3rem;
	line-height: 2rem;
	margin-top: 20px;
}
.projekti .projekti-info {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: column;
}
.projekti .projekti-info .projekti {
	width: 100%;
	min-height: 300px;
	position: relative;
	transition: .3s ease transform;
	margin: 5px;
}
.projekti .projekti-info .projekti .projekti-card {
	position: absolute;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: .3s ease transform;
	display: block;
}
.projekti .projekti-info .projekti .projekti-card .projekti-front,
.projekti .projekti-info .projekti .projekti-card .projekti-back {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.13);
	padding: 10px;
}
.projekti .projekti-info .projekti .projekti-card .projekti-back {
	transform: rotateY(180deg);
}
.projekti .projekti-info .projekti .projekti-card .projekti-front i {
	font-size: 4rem;
	color: black;
	margin-bottom: 10px;
}
.projekti .projekti-info .projekti .projekti-card .projekti-front .projekti-front-heading,
.projekti .projekti-info .projekti .projekti-card .projekti-back .projekti-back-heading {
	font-size: 2.5rem;
	text-transform: capitalize;
}
.projekti .projekti-info .projekti:hover .projekti-card {
	transform: rotateY(180deg);
}
.projekti .projekti-info .projekti .projekti-card .projekti-back .projekti-back-desc {
	font-size: 1.3rem;
    margin-top: 10px;
	text-align: center;
}
.projekti .projekti-info .projekti:nth-child(1) .projekti-card .projekti-front {
	background-image: url(./images/img-4.jpg);
	background-size: cover;
	position: relative;
	color: white;
}
.projekti .projekti-info .projekti:nth-child(2) .projekti-card .projekti-front {
	background-image: url(./images/img-2.jpg);
	background-size: cover;
	position: relative;
	color: white;
}
.projekti .projekti-info .projekti:nth-child(3) .projekti-card .projekti-front {
	background-image: url(./images/img-5.jpg);
	background-size: cover;
	position: relative;
	color: white;
}
.projekti .projekti-info .projekti:nth-child(2) .projekti-card .projekti-front::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.274);
	z-index: -1;
}
.projekti .projekti-info .projekti:nth-child(2) .projekti-card .projekti-front i {
	color: white;
}
/* End Projekti section  */

/* Hire Section  */

.kontakt {
	min-height: 10vh;
	flex-direction: column;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.753);
	padding: 3rem 2rem;
}
.kontakt .kontakt-heading {
	color: white;
	font-size: 2.2rem;
	text-align: center;
}
.kontakt-form{
    display: flex;
  }
  
  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
  }
  
  .input-fields,
  .msg{
    width: 48%;
  }
  
  .input-fields .input,
  .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
  }
  
  .msg textarea{
    height: 212px;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #c5ecfd;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #c5ecfd;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #c5ecfd;
  }
  
  .btn {
      background: #39b7dd;
      text-align: center;
      padding: 15px;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px){
    .contact-form{
      flex-direction: column;
    }
    .msg textarea{
      height: 80px;
    }
    .input-fields,
    .msg{
      width: 100%;
    }
  }
/* Media query for desktop and tab  */
@media only screen and (min-width: 768px) {
    .meni .meni-lista .hamburger {
        display: none;
    }
    .meni {
        width: 80%;
    }
    .meni .meni-lista ul {
        transform: translateX(0);
        position: initial;
        padding: 0;
        z-index: initial;
        background-color: transparent;
    }
    .meni .meni-lista ul li {
        display: inline-block;
    }
    .pocetna {
        height: 100vh;
        flex-direction: row;
        padding-left: 10%;
        justify-content: center;
        align-items: center;
    }
    .pocetna .pocetna-info {
        max-width: 30%;
        text-align: left;
    }
    .pocetna .pocetna-info .pocetna-info-subheading {
        font-size: 1.3rem;
        letter-spacing: .5rem;
    }
    .pocetna .pocetna-img {
        min-width: 400px;
        max-width: 1000px;
    }
    .about {
        width: 80%;
        margin: 0 auto;
        flex-direction: row;
    }
    .about .about-info {
        width: 50%;
        text-align: left;
        padding-right: 17rem;
    }
    .projekti .projekti-header .projekti-header-desc {
        max-width: 500px;
        padding-top: 20px;
        margin: 0 auto;
    }
    .projekti .projekti-info {
        flex-direction: row;
        width: 80%;
    }
    .projekti .projekti-info .service {
        margin: 0;
    }
}

/* End Media query for desktop and tab  */


/* Media Query For Desktop Only  */
@media only screen and (min-width: 1200px) {
    .pocetna .pocetna-info .pocetna-info-heading {
        font-size: 6rem;
    }
    .pocetna .pocetna-info .pocetna-info-subheading {
        letter-spacing: .8rem;
    }
}

